.a{
    height: 100vh;
    display: flex;
    align-items: center; 
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.a-right{
    flex: 1;
}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius:30px ;
    position: relative;
    overflow: hidden;
}
.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color:#1f1f14 ;
}
.a-title{
   font-weight: 400px; 
}
.a-sub{
    margin: 20px 0px;
}
.a-desc{
    font-weight: 300;
}