@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
   --primary-white: rgb(255, 255, 255);
   --primary-green : #009933;
   --primary-dark: rgb(255, 255, 255, 0);
   --primary-black: rgb(0, 0, 0);
   --primary-hover-red: rgb(204, 0, 0);
   --primary-orange:var(--primary-orange);
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}
/*****************************Navbar******************/
.logo{
  width: 16.25rem;
 
}
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375px;
  cursor: pointer;
}
.nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li >a{
   margin-right: 12px;
   margin-left: 12px;
   color: var(--primary-white) !important;
   border-top: 3px solid var(--primary-dark)}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  /* height:  ; */
}
.navbar-nav > li >a.active, .navbar-nav >li >a:active:focus{
 border-top: 3px solid var(--primary-green);
}

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-green);
}
/* header */
/* 
.header-wraper{
   position: relative;
   background:url(computer.jpg) no-repeat ;
   background-size: cover;
   background-position: center;
   height: 90vh;
} */
.main-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}
.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
}
.typed-text{
   font-size: 2rem;
   color: var(--primary-black)
}

.profile-container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-image: url('computer.jpg');
}
.profile-parent{
 display: flex;
 align-items: center;
 color: aliceblue
}
.profile-details-name{
 font-size: 24px;
 font-family: "Poppins SemiBold";
}
.profile-details-role{
display: flex;
flex-direction: column;
margin: 14px 0px 24px 0px;
}

.profile-details-role h1{
  font-size: 40px;
  font-family: cursive;
}
.primary-text{
 color: white;
}
.highlighted-text{
color : darkorange
}
.profile-role-targline{
margin-right: 80px;
 font-size: 19px;
 margin-top: 5px;
 font-family: "Poppins Light";
}
.profile-options .highlighted-btn{
margin: 0 0 0 28px
}
.profile-options .highlighted-btn:hover{
 margin: 0 0 0 28px;
 background-color: cornsilk;
 color: black
}
.profile-picture{
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 1px 0px 0px white;
border-radius: 50%;
height: 380px;
width: 380px;
}
.profile-picture-background{
 height: 92%;
 width: 92%;
 background-image: url("christian-1.png");
 background-size: cover;
 border-radius: 50%;
 background-repeat: no-repeat;
 background-position: center;
}
.profile-picture-background:hover{
 transform: scale(1.07 );
 transition: 1s ease-out;
}

.colz .colz-icon I{
 color: white;
 padding: 8px;
 padding-left: 0px;
}
.colz .colz-icon i:hover{
 transform: scale(1.5);
}

.btn{
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-size: "Poppins SemiBold";
}
.btn:active{
  transform:  translateY(2px);
}
.primary-btn{
  color: white;
  border: 2px solid var(--primary-green);
  font-size: 12px;
  background-color: #1f2235;
}
.primary-btn:hover{
  color: var(--primary-white);
  border: 2px solid var(--primary-orange);
  background-color: green;
  border-radius: 10px;
}
.highlighted-btn{
    background-color:var(--primary-orange); 
    font-size: 12px;
}
